<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter floors">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nickname</th>
        <td mat-cell *matCellDef="let row">{{ row.nickname }}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="serialNr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Serial Number</th>
        <td mat-cell *matCellDef="let row">{{ row.serialNr }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>

     <ng-container matColumnDef="robotTypeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Robot Type ID</th>
        <td mat-cell *matCellDef="let row">{{ row.robotTypeId }}</td>
      </ng-container>
      
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
        <td mat-cell *matCellDef="let row">
          <mat-slide-toggle [checked]="row.isActive" (change)="onToggle(row)">
            {{ row.isActive ? '' : '' }}
          </mat-slide-toggle>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No robots found matching the filter</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of floors"></mat-paginator>
  </div>
  