<body>
    <h2 style="padding: 10px;"><i class="icon_taskSurveillance" style="vertical-align: middle; height: 35px;"></i> Surveillance</h2>
    <div class="" style="overflow: auto; white-space: nowrap; padding: 5px;">
        <button type="button" class="btn btn-secondary" (click)="openCreateTaskDialog()">Create Task<i class="icon_postB" style="background-color: none; height: 12px; padding-left: 5px;"></i></button>
    </div>
    <hr/>
    <app-get-surveillance></app-get-surveillance>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">

        </div>
    </div>
</body>
