
<!--<h3 style="padding: 10px;"> Floor List</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Number</th>
        <th scope="col">Description</th>
        <th scope="col">Length</th>
        <th scope="col">Width</th>
        <th scope="col">Building ID</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let floor of floors">
        <th scope="row">{{ floor.floorNumber }}</th>
        <td>{{ floor.description }}</td>
        <td>{{ floor.length }}</td>
        <td>{{ floor.width }}</td>
        <td>{{ floor.buildingId }}</td>
    </tr>
    </tbody>
</table>-->

<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter elevators">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="buildingId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Building</th>
            <td mat-cell *matCellDef="let row">{{ row.buildingId }}</td>
          </ng-container>
  
      <!-- ID Column -->
      <ng-container matColumnDef="x">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Floor</th>
        <td mat-cell *matCellDef="let row">{{ row.x }}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="y">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Floor</th>
        <td mat-cell *matCellDef="let row">{{ row.y }}</td>
      </ng-container>

     

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button (click)="editElevator(row)" style="background: none; border: none;">
            <i class="icon_putB" style="height: 18px;"></i>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">No elevators found matching the filter</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of elevators"></mat-paginator>
  </div>
  