
<br><br>
<h2 class="center">Sobre nós...</h2>

<br><br>
<p class="italic">
    Ó mar salgado, quanto do teu sal<br>
    São lágrimas de Portugal!<br>
    Por te cruzarmos, quantas mães choraram,<br>
    Quantos filhos em vão rezaram!<br>
    Quantas noivas ficaram por casar<br>
    Para que fosses nosso, ó mar!<br>
    <br>
    Valeu a pena? Tudo vale a pena<br>
    Se a alma não é pequena.<br>
    Quem quer passar além do Bojador<br>
    Tem que passar além da dor.<br>
    Deus ao mar o perigo e o abismo deu,<br>
    Mas nele é que espelhou o céu.<br>
    <br>
    -Fernando Pessoa
</p>

