<h1 mat-dialog-title>Edit Classroom</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%;">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" readonly>
      </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex: B208" formControlName="name">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Ex: Sala B208" formControlName="description">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Category</mat-label>
      <input matInput placeholder="Ex: Laboratório" formControlName="category">
    </mat-form-field>
    <div style="display: flex; align-items: flex-start;">
    <mat-form-field style="width: 100%; margin-right: 30px;">
      <mat-label>Width</mat-label>
      <input matInput placeholder="Ex: 20" formControlName="width">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Length</mat-label>
      <input matInput placeholder="Ex: 30" formControlName="length">
    </mat-form-field>
    </div>
    <div style="display: flex; align-items: flex-start;">
      <mat-form-field style="width: 100%; margin-right: 30px;">
        <mat-label>Porta x</mat-label>
        <input matInput placeholder="Ex: 20" formControlName="cordx" >
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>Porta y</mat-label>
        <input matInput placeholder="Ex: 30" formControlName="cordy" >
      </mat-form-field>
    </div>


    <mat-form-field style="width: 100%;">
      <mat-label>FloorNumber</mat-label>
      <mat-select formControlName="floorNumber">
        <mat-option *ngFor="let floor of floorOptions" [value]="floor.floorNumber">
          {{ floor.floorNumber }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div style="margin-top: 10px;" *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>
<div class="button-gap" style="justify-content: right;" mat-dialog-actions>
  <button class="btn btn-secondary" mat-button (click)="onCancel()">Cancel</button>
  <button class="btn btn-primary" mat-button [disabled]="!form.valid" (click)="onSave()">Save</button>
</div>
