<div class="landing-page container">
  <header class="hero" style="margin-top: 5vh">
    <div class="hero-content">
      <h1>Welcome to RobDroneGo</h1>
      <p>Your one-stop solution for campus management</p>
      <a routerLink="/signup" class="btn">Get Started</a>
    </div>
  </header>
  <section class="features">
    <h2>Features</h2>
    <div class="features-grid">
      <div class="feature">
        <i class="fas fa-building"></i>
        <h3>Manage Buildings</h3>
        <p>Efficiently manage all buildings on your campus.</p>
      </div>
      <div class="feature">
        <i class="fas fa-robot"></i>
        <h3>Track Robots</h3>
        <p>Monitor and control all robots in real-time.</p>
      </div>
      <div class="feature">
        <i class="fas fa-tasks"></i>
        <h3>Plan Tasks</h3>
        <p>Organize and assign tasks seamlessly.</p>
      </div>
    </div>
  </section>
  <section class="testimonials">
    <h2>What Our Users Say</h2>
    <div class="testimonials-grid">
      <div class="testimonial">
        <p>"RobDroneGo has revolutionized our campus management!"</p>
        <p>- Alex, Campus Manager</p>
      </div>
      <div class="testimonial">
        <p>"The best tool for tracking and managing our robots."</p>
        <p>- Jamie, Fleet Manager</p>
      </div>
      <div class="testimonial">
        <p>"RobDroneGo has significantly improved our task planning."</p>
        <p>- Taylor, Task Manager</p>
      </div>
    </div>
  </section>
  <section class="team">
    <h2>Meet Our Team</h2>
    <div class="team-grid">
      <div class="team-member">
        <img src="../../../assets/img/team/nuno.png" alt="Nuno Alves">
        <h3>Nuno Alves</h3>
        <p>1201427</p>
      </div>
      <div class="team-member">
        <img src="../../../assets/img/team/cat.jpg" alt="Catarina Magalhães">
        <h3>Catarina Magalhães</h3>
        <p>1201192</p>
      </div>
      <div class="team-member">
        <img src="../../../assets/img/team/08.jpg" alt="Miguel Alecrim">
        <h3>Miguel Alecrim</h3>
        <p>1200621</p>
      </div>
      <div class="team-member">
        <img src="../../../assets/img/team/povoas.jpg" alt="Miguel Póvoas">
        <h3>Miguel Póvoas</h3>
        <p>1201716</p>
      </div>
      <div class="team-member">
        <img src="../../../assets/img/team/gui.png" alt="Guilherme Melo">
        <h3>Guilherme Melo</h3>
        <p>1211008</p>
      </div>
    </div>
  </section>
  <footer>
    <p>&copy; <span id="current-year"></span> RobDroneGo. All rights reserved.</p>
    <p style="color: darkgray">This is a university project made with love, sweat and a lot of tears. Check it out on <a href="https://github.com/mpoboas/sem5-pi-23-24-38/">GitHub</a>.</p>
  </footer>
</div>
