<h1 mat-dialog-title>Edit Tunnel</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%;">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" readonly>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Ex: Ponte A-B" formControlName="description">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>Floor1 Number</mat-label>
        <mat-select formControlName="floor1Id">
          <mat-option *ngFor="let floor of floorOptions" [value]="floor.floorNumber">
            {{ floor.floorNumber }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>Floor2 Number</mat-label>
        <mat-select formControlName="floor2Id">
          <mat-option *ngFor="let floor of floorOptions" [value]="floor.floorNumber">
            {{ floor.floorNumber }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <div style="display: flex; align-items: flex-start;">
        <mat-form-field style="width: 100%; padding-right: 30px;">
          <mat-label>Location 1 x</mat-label>
          <input matInput placeholder="Ex: 3" formControlName="location1x">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <mat-label>Location 1 y</mat-label>
          <input matInput placeholder="Ex: 4" formControlName="location1y">
        </mat-form-field>
      </div>
      <div style="display: flex; align-items: flex-start;">
        <mat-form-field style="width: 100%; padding-right: 30px;">
          <mat-label>Location 2 x</mat-label>
          <input matInput placeholder="Ex: 5" formControlName="location2x">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
          <mat-label>Location 2 y</mat-label>
          <input matInput placeholder="Ex: 6" formControlName="location2y">
        </mat-form-field>
      </div>




  </form>
</div>
<div class="button-gap" style="justify-content: right;" mat-dialog-actions>
  <button class="btn btn-secondary" mat-button (click)="onCancel()">Cancel</button>
  <button class="btn btn-primary" mat-button [disabled]="!form.valid" (click)="onSave()">Save</button>
</div>
