<h1 mat-dialog-title>Create User</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%;">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex: Laprosos" formControlName="name" required>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex: laprosos@isep.ipp.pt" formControlName="email" required pattern=".+@isep\.ipp\.pt">
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        You must enter a value
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('pattern')">
        Not a valid email address ending with '@isep.ipp.pt'.
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Ex: Password1!" formControlName="password" required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        You must enter a value
      </mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('pattern')">
        Password must contain at least one lowercase letter, one uppercase letter, one symbol, and be at least 8 characters long.
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roleOptions" [value]="role">
          {{ role }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Ex: 912345678" formControlName="phoneNumber" required pattern="[0-9]{9}">
      <mat-error *ngIf="form.get('phoneNumber')?.hasError('required')">
        You must enter a value
      </mat-error>
      <mat-error *ngIf="form.get('phoneNumber')?.hasError('pattern')">
        Please enter a valid phone number exactly with nine digits.
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>NIF</mat-label>
      <input matInput placeholder="Ex: 123456789" formControlName="nif" required pattern="[0-9]{9}">
      <mat-error *ngIf="form.get('nif')?.hasError('required')">
        You must enter a value
      </mat-error>
      <mat-error *ngIf="form.get('nif')?.hasError('pattern')">
        Please enter a valid NIF with exactly nine digits.
      </mat-error>
    </mat-form-field>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  </form>
</div>

<div class="button-gap" style="justify-content: right;" mat-dialog-actions>
  <button class="btn btn-secondary" mat-button (click)="onCancel()">Cancel</button>
  <button class="btn btn-primary" mat-button [disabled]="!form.valid" (click)="onSave()">Save</button>
</div>
