<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">    
            <li class="nav-item">
                <a class="nav-link"  routerLink="/fleet-manager/robot" routerLinkActive="active"><i class="icon_buildingsW" style="vertical-align: middle;"></i> Robots</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/fleet-manager/robot-type" routerLinkActive="active"><i class="icon_floorW" style="padding-right: 5px; height: 15px; vertical-align: middle;"></i>Robot Types</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
