<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter tunnels">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>

      <ng-container matColumnDef="floor1Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Floor 1</th>
        <td mat-cell *matCellDef="let row">{{ row.floor1Id }}</td>
      </ng-container>

      <ng-container matColumnDef="location1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="(x,y)" matTooltipPosition="left">Location 1</th>
        <td mat-cell *matCellDef="let row">({{ row.location1 }})</td>
      </ng-container>

      <ng-container matColumnDef="floor2Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Floor 2</th>
        <td mat-cell *matCellDef="let row">{{ row.floor2Id }}</td>
      </ng-container>

      <ng-container matColumnDef="location2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="(x,y)" matTooltipPosition="left">Location 2</th>
        <td mat-cell *matCellDef="let row">({{ row.location2 }})</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button (click)="editTunnel(row)" style="background: none; border: none;">
            <i class="icon_putB" style="height: 18px;"></i>
          </button>
        </td>
      </ng-container>
     
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="3">No tunnels found matching the filter</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tunnels"></mat-paginator>
  </div>
  
