<h1 mat-dialog-title>Edit Elevator</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%;">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" readonly>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Letter</mat-label>
      <input matInput placeholder="Ex: 1" formControlName="x">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Ex: 4" formControlName="y">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>Building</mat-label>
        <mat-select formControlName="buildingId">
          <mat-option *ngFor="let building of buildingOptions" [value]="building.code">
            {{ building.code }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </form>
</div>
<div class="button-gap" style="justify-content: right;" mat-dialog-actions>
  <button class="btn btn-secondary" mat-button (click)="onCancel()">Cancel</button>
  <button class="btn btn-primary" mat-button [disabled]="!form.valid" (click)="onSave()">Save</button>
</div>
