<h1 mat-dialog-title>Edit Elevator</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%;">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" readonly>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Elevator Name</mat-label>
      <input matInput placeholder="Ex: ElevatorA" formControlName="name">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Building</mat-label>
      <mat-select formControlName="buildingId" readonly>
        <mat-option *ngFor="let building of buildingOptions" [value]="building.code">
          {{ building.code }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Dynamic section for floors -->
    <div *ngIf="floorOptions && floorOptions.length > 0">
      <mat-label>Floors</mat-label>
      <div formArrayName="floors">
        <div *ngFor="let floor of floorOptions; let i = index">
          <mat-checkbox [formControl]="getFloorControl(i)">{{ floor.floorNumber }}</mat-checkbox>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="button-gap" style="justify-content: right;" mat-dialog-actions>
  <button class="btn btn-secondary" mat-button (click)="onCancel()">Cancel</button>
  <button class="btn btn-primary" mat-button [disabled]="!form.valid" (click)="onSave()">Save</button>
</div>
