<h1 mat-dialog-title>Create Elevator</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%;">
      <mat-label>Elevator Name</mat-label>
      <input matInput placeholder="Ex: ElevatorA" formControlName="name">
    </mat-form-field>
    <div style="display: flex; align-items: flex-start;">
      <mat-form-field style="width: 100%; padding-right: 30px;">
        <mat-label>Porta x</mat-label>
        <input matInput placeholder="Ex: 3" formControlName="cordx">
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>Porta y</mat-label>
        <input matInput placeholder="Ex: 4" formControlName="cordy">
      </mat-form-field>
    </div>
    <mat-form-field style="width: 100%;">
      <mat-label>Building Code</mat-label>
      <mat-select formControlName="buildingCode" (selectionChange)="onBuildingChange()">
        <mat-option *ngFor="let building of buildingOptions" [value]="building">
          {{ building.code }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="floorOptions && floorOptions.length > 0">
      <mat-label>Floors</mat-label>
      <div formArrayName="floors">
        <div *ngFor="let floor of floorOptions; let i = index">
          <mat-checkbox [formControl]="getFloorControl(i)">{{ floor.floorNumber }}</mat-checkbox>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="button-gap" style="justify-content: right;" mat-dialog-actions>
  <button class="btn btn-secondary" mat-button (click)="onCancel()">Cancel</button>
  <button class="btn btn-primary" mat-button [disabled]="!form.valid" (click)="onSave()">Save</button>
</div>

