<div class="container mt-5" style="width: 30%;">
    <h2 class="text-center">Sign In</h2>
    <form class="mt-4" (ngSubmit)="onSubmit()" >
        <div class="form-group" style="margin-top: 10px;">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" required class="form-control" placeholder="Enter email address">
        </div>

        <div class="form-group" style="margin-top: 10px;">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="user.password" required class="form-control" placeholder="Password">
        </div>

        <div style="margin-top: 10px;" *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Sign in</button>
    </form>
</div>
