<div class="container mt-5" style="width: 50%; padding-bottom: 5%;">
    <h2 class="text-center">RobDroneGo - Terms and Conditions </h2>
    <h3 class="text-primary">Introdution</h3>
    <p class="lead">These Terms and Conditions establish the guidelines for the collection and processing of your personal data. By using our services, you agree to the provisions outlined herein.</p>

    <h3 class="text-primary">Purpose of Processing</h3>
    <p class="lead">We collect your personal data directly by you, when you sign up for our site.</p>
    <p class="lead">Your personal data is collected for these purposes: </p>
    <ul>
        <li class="lead">to communicate with you, such as to let you know about new features on our site where you have consented for us to do so;</li>
        <li class="lead">to create an individual profile for you so that we can give you a role and access to the features you can use in our site;</li>
        <li class="lead">for record keeping purposes;</li>
        <li class="lead">to track activity on the Site.</li>
    </ul>
    <p class="lead">The use of this data will always be in accordance with applicable laws.</p>            

    <h3 class="text-primary">Data Controller</h3>
    <p class="lead">The data controller for the processing of your personal data is Laprosos. If you have any questions or concerns regarding the processing of your data, please contact us through the provided means.</p>

    <h3 class="text-primary">Retention Period</h3>
    <p class="lead">Your personal data will be retained, as long as you do not delete your account, for the strictly necessary period to achieve the purpose for which it was collected, unless the law requires a longer retention period. After this period, the data will be securely deleted.</p>

    <h3 class="text-primary">Rights of the Data Subject</h3>
    <p class="lead">As a data subject, you have the following rights:</p>
    <ul>
        <li class="lead">Right of Access: You have the right to obtain confirmation as to whether your data is being processed and, if so, to access that data.</li>
        <li class="lead">Right to Rectification: You can request the correction of inaccurate or incomplete data.</li>
        <li class="lead">Right to Erasure: Under certain circumstances, you can request the deletion of your personal data.</li>
        <li class="lead">Right to Object: You can object to the processing of your data in certain situations.</li>
        <li class="lead">Other Rights: Depending on local laws, you may have other rights, such as data portability.</li>
    </ul>
    <h3 class="text-primary">Data Security</h3>
    <p class="lead">We have implemented security measures to protect your personal data against unauthorized access, alteration, disclosure or destruction.</p>

    <h3 class="text-primary">Changes to the Terms and Conditions</h3>
    <p class="lead">We reserve the right to change these Terms and Conditions at any time. We will inform you about significant changes through direct communication or notice on our website.</p>

    <p class="lead">By continuing to use our services, you acknowledge that you have read and understood these Terms and Conditions, agreeing to the processing of your personal data as described herein.</p>
    <p class="lead">If you do not agree with all of these terms and conditions, you must exit this Site now.</p>
    <p class="lead">If you have any questions, please contact us. We are committed to protecting your privacy and ensuring the security of your personal data.</p>

    <h3 class="text-primary">Laprosos</h3>
    <h4 class="text-primary-emphsis">Email Us</h4>
    <ul>
        <li class="lead">1201716@isep.ipp.pt</li>
        <li class="lead">1201192@isep.ipp.pt</li>
        <li class="lead">1201427@isep.ipp.pt</li>
        <li class="lead">1211008@isep.ipp.pt</li>
        <li class="lead">1200621@isep.ipp.pt</li>
    </ul>
    <hr/>
</div>