<h1 mat-dialog-title>Edit Floor</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%;">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" readonly>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Letter</mat-label>
      <input matInput placeholder="Ex: B, G, H" formControlName="floorNumber">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Ex: Edifício B" formControlName="description">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Building</mat-label>
      <mat-select formControlName="buildingId" (selectionChange)="onBuildingCodeSelect()">
        <mat-option *ngFor="let building of buildingOptions" [value]="building.code">
          {{ building.code }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="display: flex; align-items: flex-start;">
      <mat-form-field style="width: 100%; margin-right: 30px;">
        <mat-label>Width</mat-label>
        <input matInput placeholder="Ex: 20" formControlName="width" readonly>
      </mat-form-field>
      <mat-form-field style="width: 100%;">
        <mat-label>Length</mat-label>
        <input matInput placeholder="Ex: 30" formControlName="length" readonly>
      </mat-form-field>
    </div>
    <mat-form-field style="width: 100%;">
      <mat-label>Map</mat-label>
      <div style="overflow-x: auto;">
        <table>
          <tr *ngFor="let row of form.value.map; let i = index">
            <td *ngFor="let cell of row; let j = index" [ngStyle]="getCellBorderStyle(cell)">
              <input matInput [value]="form.value.map[i][j]" (input)="updateCellValue(i, j, $event)" type="number" style="width: 40px; height: 40px; text-align: center; padding: 3px;" min="0" max="3">
            </td>          
          </tr>
        </table>
      </div>
    </mat-form-field>    
  </form>
</div>
<div class="button-gap" style="justify-content: right;" mat-dialog-actions>
  <button class="btn btn-secondary" mat-button (click)="onCancel()">Cancel</button>
  <button class="btn btn-primary" mat-button [disabled]="!form.valid" (click)="onSave()">Save</button>
</div>
