<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">    
            <li class="nav-item">
                <a class="nav-link"  routerLink="/campus-manager/buildings" routerLinkActive="active"><i class="icon_buildingsB" style="vertical-align: middle;"></i> Buildings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/campus-manager/floors" routerLinkActive="active"><i class="icon_floorB" style="padding-right: 5px; height: 15px; vertical-align: middle;"></i>Floors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/campus-manager/classrooms" routerLinkActive="active"><i class="icon_classroomB" style="height: 20px; padding-right: 5px; vertical-align: middle;"></i>Classrooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/campus-manager/tunnels" routerLinkActive="active"><i class="icon_tunnel" style="vertical-align: middle;"></i> Tunnels</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/campus-manager/elevators" routerLinkActive="active"><i class="icon_elevator" style="vertical-align: middle;"></i> Elevators</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/campus-manager/visualization" routerLinkActive="active"><i class="" style="vertical-align: middle;"></i> Visualization</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
