<div class="container">
  <!-- Header Section -->
  <header class="app-header">
    <div class="app-title">
      <!-- Icon (Replace with your icon) -->
      <!-- <img src="your-icon.png" alt="App Icon" class="app-icon"> -->
      <!-- Title -->
      <h1 style="padding: 10px;"><i class="icon_robdronego" style="vertical-align: middle; height: 30px;"></i> RobDroneGo</h1>
    </div>
  </header>

  <!-- Navigation Buttons -->
  <div class="app-nav button-gap" style="padding: 5px;">
    <button type="button" class="btn btn-primary" routerLink="/buildings" routerLinkActive="active">Buildings</button>
    <button type="button" class="btn btn-primary disabled" routerLink="/floors" routerLinkActive="active">Floors</button>
    <button type="button" class="btn btn-primary disabled" routerLink="/classrooms" routerLinkActive="active">Classrooms</button>
  </div>

  <!-- Main Content -->
  <main class="app-content">
    <!-- Display the content of the selected component using router-outlet -->
    <router-outlet></router-outlet>
  </main>
</div>
