<div class="container">
  <!-- Header Section -->
  <header class="app-header">
    <div class="app-title">
      <!-- Icon (Replace with your icon) -->
      <!-- <img src="your-icon.png" alt="App Icon" class="app-icon"> -->
      <!-- Title -->
      <a routerLink="" style="text-decoration: none; color: inherit;">
        <h1 style="padding: 10px;">
          <i class="icon_robdronego" style="vertical-align: middle; height: 30px;"></i> RobDroneGo
        </h1>
      </a>
      
    </div>
  </header>

  <div class="button-gap">
    <button type="button" class="btn btn-primary" routerLink="/campus-manager" routerLinkActive="active"><i class="icon_buildingsW" style="vertical-align: middle;"></i> Campus Manager</button>
    <button type="button" class="btn btn-primary disabled" routerLink="/fleet-manager" routerLinkActive="active"><i class="icon_floorW" style="padding-right: 5px; height: 15px; vertical-align: middle;"></i>Fleet Manager</button>
  </div>

  <!-- Main Content -->
  <main class="app-content">
    <!-- Display the content of the selected component using router-outlet -->
    <router-outlet></router-outlet>
  </main>
</div>
