<h1 mat-dialog-title>Create Floor</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%;">
      <mat-label>Floor Number</mat-label>
      <input matInput placeholder="Ex: a1, b3" formControlName="floorNumber">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Ex: Piso 1 do Edifício B" formControlName="description">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Width</mat-label>
      <input matInput placeholder="Ex: 20" formControlName="width">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Length</mat-label>
      <input matInput placeholder="Ex: 30" formControlName="length">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-label>Building Code</mat-label>
      <mat-select formControlName="buildingCode">
        <mat-option *ngFor="let building of buildingOptions" [value]="building.code">
          {{ building.code }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div class="button-gap" style="justify-content: right;" mat-dialog-actions>
  <button class="btn btn-secondary" mat-button (click)="onCancel()">Cancel</button>
  <button class="btn btn-primary" mat-button [disabled]="!form.valid" (click)="onSave()">Save</button>
</div>
