<head>
    <meta charset="utf-8">
    <title>Campus Manager</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon"
        href="favicon.ico">
</head>

<body>
    <h2 style="padding: 10px;"><i class="icon_buildingsB" style="vertical-align: middle; height: 35px;"></i> Campus Manager</h2>
    <div class="button-gap" style="overflow: auto; white-space: nowrap; padding: 5px;">
        <div class="app-nav button-gap" style="padding: 5px;">
            <button type="button" class="btn btn-primary" routerLink="/campus-manager/buildings" routerLinkActive="active"><i class="icon_buildingsW" style="vertical-align: middle;"></i> Buildings</button>
            <button type="button" class="btn btn-primary disabled" routerLink="/floors" routerLinkActive="active"><i class="icon_floorW" style="padding-right: 5px; height: 15px; vertical-align: middle;"></i>Floors</button>
            <button type="button" class="btn btn-primary disabled" routerLink="/classrooms" routerLinkActive="active"><i class="icon_classroomW" style="height: 20px; padding-right: 5px; vertical-align: middle;"></i>Classrooms</button>
        </div>
    </div>
    <hr/>
    <router-outlet></router-outlet>
</body>